@using SchoolManagementKD13.MVCUI.Models;

@model StudentsIndexVM
@{
	ViewData["Title"] = "Students";
} @if (Model.LoggedInUserRole == "Manager")
{
	<p><a id="Create" class="btn btn-outline-primary" onclick="GetSchoolsList()">Create New</a></p>
} 
<table class="table">
	<thead><tr><th>Photo</th><th>First Name</th><th>Last Name</th><th>School</th></tr></thead>
	<tbody>
		@foreach (var item in Model.Students)
		{
			<tr>
				@if (item.PhotoPath != null)
				{
					<td><img src=@item.PhotoPath width="100" height="100" /></td>
				}
				else
				{
					<td><img src="@Url.Content("~/images/default.png")" width="100" height="100" /></td>
				}
				<td>@Html.DisplayFor(modelItem => item.FirstName)</td>
				<td>@Html.DisplayFor(modelItem => item.LastName)</td>
				@if (item.School != null)
				{
					<td>@Html.DisplayFor(modelItem => item.School.Name)</td>
				}
			</tr>
		}
	</tbody>
</table>